.tmdb-logo {
  width: 100px;
  margin-right: 20px;
  vertical-align: middle;
}

.tmdb-attribution {
  display: flex;
  align-items: center;
  top: 20%;
}
.main-logo {
  height: 230px;
  width: 600px;
}

.container.about-page {
  position: relative;
  height: 100vh; // This will make sure it covers the full viewport height
  width: 100%; // This will ensure it spans the full width
  margin-top: 10%;
  margin-left: 24%;

  color: "#fff"; // Assuming you want white text
  overflow: auto;
}

.container.about-page::before {
  content: "";
  background-image: url("./About-us.png");

  opacity: 0.5; // Set your desired opacity here
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover; // This will make sure the image covers the entire element
  background-repeat: no-repeat;
  background-position: center center;
}
