@media (min-width: 768px) and (max-width: 980px) {
  .card-img-top {
    height: 10%;
    width: 100%;
  }

  .card-title {
    font-size: 15px !important;
  }

  .movie {
    font-size: 13px !important;
  }

  .button,
  .buttons {
    font-size: 12px;
  }

  .header {
    display: none;
  }

  .footer {
    font-size: 14px;
  }

  
}
