.fav-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  z-index: 100;
  position: absolute;
  left: 3%;
  top: 334px;
}

.fav-icon:active,
.fav-icon:focus {
  background: none;
  outline: none;
}

.favorite-button {
  position: relative; /* Make sure it's a positioned container */
}

.heart-icon {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  z-index: 10; /* Ensure it's above other elements */
  color: red; /* Customize the color as needed */
  cursor: pointer;
  font-size: 24px; /* Adjust the size as needed */
}

.no-fav {
  padding: 13% 20% 20%;
  line-height: 3.2rem;
  text-align: center;
}
