@media (min-width: 300px) and (max-width: 576px) {
  .header {
    font-size: 25px;
  }

  .header1 {
    display: none;
  }

  #card {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 45%;
    padding: 0;
    margin-left: 3%;
  }

  .card {
    margin: 0 3%;
    height: 100%;

    &-img-top {
      height: 70%;
      width: 100%;
    }

    &-title {
      font-size: 18px !important;
    }

    .movie {
      font-size: 13px !important;
    }
  }

  .button,
  .buttons {
    font-size: 12px;
  }

  .footer1 {
    font-size: 14px;
  }
}
